* {
    outline: none;
}

html, body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.btn {
    cursor: pointer;
}

/************************************* Navbar ***********************************/
.navbar {
    padding: .2rem 1rem;
    z-index: 999;
}

/************************************* End **************************************/

/************************************* Editor ***********************************/
.nav-tabs {
    width: 100%;
    border: none;
}

.tab-content,
.tab-pane,
.editor {
    position: relative;
    width: 100%;
    height: 100%;
}

.editor {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px !important;
}

.ace_gutter-cell {
    font-size: 15px !important;
}

/************************************* End *************************************/

/************************************* Tabs ************************************/
*[contenteditable] {
    border: solid 1px lightgreen;
    padding: 5px;
}

.tab-list {
    padding: 0.1rem;
}

.tab-list li {
    padding: 4px 12px;
}

.tab-list li a {
    display: inline-block;
    text-decoration: none;
}

.tab-list li a .close {
    text-shadow: none;
}

.tab-list li span:first-child {
    padding: 0 6px 0 0;
}

.tab-list li span.fa.fa-pencil {
    margin: -1px 0 0 0;
    font-size: 0.8em;
}

.tab-list li span.fa.fa-close {
    margin: 4px 0 0 5px;
}

.add-tab {
    display: inline-block;
    margin: 0 1rem;
}

.tab-list li a span {
    opacity: 0.5;
}

.tab-list li a.active span,
.tab-list li a:hover span,
.add-tab:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

/************************************* End *************************************/